Repository GLINCKER/sentinel, changes with the labels that .github/labeler.yml gives for each.
All labels: rust, frontend, cli, documentation, tests, dependencies, ci/cd, examples

fix: remove pnpm version conflict in workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: ci/cd

fix: use format:check script in CI workflow
  .github/workflows/ci.yml
Labels: ci/cd

fix: format code and update workflows for pnpm and webkit packages
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  src/App.svelte
Labels: frontend, ci/cd

fix: resolve all GitHub Actions workflow issues
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
Labels: ci/cd

fix: resolve compilation and test issues
  src-tauri/src/core/system_monitor.rs
  src-tauri/tauri.conf.json
Labels: rust

feat: add basic frontend test file
  src-tauri/src/App.test.js
Labels: none

fix: move test file to correct location
  src-tauri/src/App.test.js
Labels: none

fix: disable coverage thresholds and organize test files
  src/App.test.js
  vitest.config.js
Labels: frontend

fix: add libc dependency to Cargo.toml
  src-tauri/Cargo.toml
Labels: rust

fix: create minimal icon and fix sysinfo refresh_all API
  src-tauri/icons/icon.png
  src-tauri/src/core/system_monitor.rs
Labels: rust

fix: remove empty with block in release.yml workflow
  .github/workflows/release.yml
Labels: ci/cd

perf: optimize GitHub Actions workflows for speed and cost
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/pr-checks.yml
Labels: ci/cd

fix: correct sysinfo v0.37.2 API usage and code warnings
  src-tauri/Cargo.lock
  src-tauri/icons/icon.png
  src-tauri/src/core/config.rs
  src-tauri/src/core/system_monitor.rs
Labels: rust

fix: add missing glib system dependencies for Ubuntu build
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
Labels: ci/cd

fix: use official Tauri Ubuntu dependencies with pkg-config
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
Labels: ci/cd

fix: use complete Tauri Ubuntu dependencies
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
Labels: ci/cd

fix: add explicit libglib2.0-dev to all workflow jobs
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
Labels: ci/cd

fix: create all icon sizes and fix test code errors
  src-tauri/icons/128x128.png
  src-tauri/icons/128x128@2x.png
  src-tauri/icons/256x256.png
  src-tauri/icons/32x32.png
  src-tauri/src/commands/process.rs
  src-tauri/src/commands/system.rs
  src-tauri/src/core/config.rs
  src-tauri/src/lib.rs
Labels: rust

fix: resolve all compilation and linting errors
  src-tauri/Cargo.toml
  src-tauri/benches/benchmarks.rs.disabled
  src-tauri/src/commands/process.rs
  src-tauri/src/commands/system.rs
  src-tauri/src/core/config.rs
  src-tauri/src/core/system_monitor.rs
  src-tauri/src/lib.rs
  src-tauri/src/models/config.rs
  src-tauri/src/models/system.rs
  src-tauri/tauri.conf.json
  src-tauri/tests/security_tests.rs.disabled
Labels: rust, tests

feat: add modular Port Map components with educational modals
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src-tauri/src/error.rs
  src-tauri/src/features/mod.rs
  src-tauri/src/features/port_discovery/mod.rs
  src-tauri/src/features/port_discovery/parser.rs
  src-tauri/src/features/port_discovery/scanner.rs
  src-tauri/src/features/port_discovery/types.rs
  src-tauri/src/lib.rs
  src/App.svelte
  src/components/Sidebar.svelte
  src/lib/components/PortMap.svelte
  src/lib/components/PortMap/BadgeInfoModal.svelte
  src/lib/components/PortMap/InfoBadge.svelte
  src/lib/components/PortMap/Pagination.svelte
  src/lib/components/PortMap/PortCountInfoModal.svelte
  src/lib/components/PortMap/PortMapFooter.svelte
  src/lib/stores/port.svelte.ts
  src/lib/types/port.ts
  src/routes/ports/+page.svelte
  src/stores/navigation.ts
  src/styles/app.css
  src/views/PortMapView.svelte
Labels: rust, frontend, dependencies

fix: correct logo path in README for GitHub rendering
  README.md
Labels: documentation

feat: implement Phase 3 features with comprehensive testing
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/features/mod.rs
  src-tauri/src/features/port_discovery/scanner.rs
  src-tauri/src/features/service_detection/detector.rs
  src-tauri/src/features/service_detection/mod.rs
  src-tauri/src/features/service_detection/patterns.rs
  src-tauri/src/features/service_detection/tests.rs
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src/App.svelte
  src/components/Sidebar.svelte
  src/lib/api/service-detection.ts
  src/lib/components/Dropdown.svelte
  src/lib/components/PortMap.svelte
  src/lib/components/PortMap/FilterSection.svelte
  src/lib/components/PortMap/Pagination.svelte
  src/lib/components/PortMap/PortMapFooter.svelte
  src/lib/components/PortMap/ServiceBadge.svelte
  src/lib/components/Shell/GlinrTerminal.svelte
  src/lib/components/Shell/ShellTabs.svelte
  src/lib/components/Shell/ShellView.svelte
  src/lib/stores/port.svelte.ts
  src/lib/stores/shellStore.ts
  src/lib/types/service.ts
  src/lib/types/shell.ts
  src/stores/navigation.ts
  src/styles/app.css
  vitest.config.ts
Labels: rust, frontend, dependencies

feat: complete Phase 3D network monitoring with full UI/UX improvements
  docs/PHASE3_IMPLEMENTATION.md
  docs/ROADMAP.md
  package.json
  pnpm-lock.yaml
  src-tauri/src/features/mod.rs
  src-tauri/src/features/network_monitor/buffer.rs
  src-tauri/src/features/network_monitor/collector.rs
  src-tauri/src/features/network_monitor/mod.rs
  src-tauri/src/features/network_monitor/types.rs
  src-tauri/src/features/service_detection/detector.rs
  src-tauri/src/features/service_detection/tests.rs
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src/App.svelte
  src/components/PollingControl.svelte
  src/components/Sidebar.svelte
  src/lib/api/network-monitor.ts
  src/lib/components/Button.svelte
  src/lib/components/NavButton.svelte
  src/lib/components/NetworkMonitor/InterfaceDetailsModal.svelte
  src/lib/components/NetworkMonitor/NetworkGraph.svelte
  src/lib/components/PageHeader.svelte
  src/lib/components/PortMap.svelte
  src/lib/components/PortMap/PortMapFooter.svelte
  src/lib/components/Shell/GlinrTerminal.svelte
  src/lib/components/Shell/ShellView.svelte
  src/lib/components/TitleBar.svelte
  src/lib/components/index.ts
  src/lib/types/network.ts
  src/routes/network/+page.svelte
  src/stores/navigation.ts
  src/styles/app.css
  src/views/Dashboard.svelte
  vite.config.js
Labels: rust, frontend, documentation, dependencies

fix: remove unsupported Node.js generic detection test
  src-tauri/src/features/service_detection/tests.rs
Labels: rust

fix: format App.svelte
  src/App.svelte
Labels: frontend

feat: complete Phase 3E/3F with connections monitoring and Docker integration
  docs/ROADMAP.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/error.rs
  src-tauri/src/features/connections/mod.rs
  src-tauri/src/features/connections/tracker.rs
  src-tauri/src/features/connections/types.rs
  src-tauri/src/features/docker/mod.rs
  src-tauri/src/features/docker/monitor.rs
  src-tauri/src/features/docker/types.rs
  src-tauri/src/features/mod.rs
  src-tauri/src/features/port_discovery/parser.rs
  src-tauri/src/features/port_discovery/scanner.rs
  src-tauri/src/features/port_discovery/types.rs
  src-tauri/src/features/service_detection/patterns.rs
  src-tauri/src/features/service_detection/tests.rs
  src-tauri/src/lib.rs
  src/App.svelte
  src/components/Sidebar.svelte
  src/lib/api/connections.ts
  src/lib/api/docker.ts
  src/lib/components/PortMap.svelte
  src/lib/types/connections.ts
  src/lib/types/docker.ts
  src/lib/types/port.ts
  src/routes/connections/+page.svelte
  src/routes/docker/+page.svelte
  src/stores/navigation.ts
Labels: rust, frontend, documentation

fix: improve connections page dropdown UI styling
  src/routes/connections/+page.svelte
Labels: frontend

feat: Phase 3E/3F - Connections Monitoring & Docker Integration (#4)
  docs/ROADMAP.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/error.rs
  src-tauri/src/features/connections/mod.rs
  src-tauri/src/features/connections/tracker.rs
  src-tauri/src/features/connections/types.rs
  src-tauri/src/features/docker/mod.rs
  src-tauri/src/features/docker/monitor.rs
  src-tauri/src/features/docker/types.rs
  src-tauri/src/features/mod.rs
  src-tauri/src/features/port_discovery/parser.rs
  src-tauri/src/features/port_discovery/scanner.rs
  src-tauri/src/features/port_discovery/types.rs
  src-tauri/src/features/service_detection/patterns.rs
  src-tauri/src/features/service_detection/tests.rs
  src-tauri/src/lib.rs
  src/App.svelte
  src/components/Sidebar.svelte
  src/lib/api/connections.ts
  src/lib/api/docker.ts
  src/lib/components/PortMap.svelte
  src/lib/types/connections.ts
  src/lib/types/docker.ts
  src/lib/types/port.ts
  src/routes/connections/+page.svelte
  src/routes/docker/+page.svelte
  src/stores/navigation.ts
Labels: rust, frontend, documentation

chore: remove connections page - feature overlap with port map
  docs/ROADMAP.md
  src-tauri/src/features/connections/mod.rs
  src-tauri/src/features/connections/tracker.rs
  src-tauri/src/features/connections/types.rs
  src-tauri/src/features/mod.rs
  src-tauri/src/lib.rs
  src/App.svelte
  src/components/Sidebar.svelte
  src/lib/api/connections.ts
  src/lib/types/connections.ts
  src/routes/connections/+page.svelte
  src/stores/navigation.ts
Labels: rust, frontend, documentation

feat: add comprehensive in-app documentation system
  src/App.svelte
  src/components/Sidebar.svelte
  src/lib/data/docs.ts
  src/stores/navigation.ts
  src/views/DocsView.svelte
Labels: frontend

feat: improve documentation UI with compact spacing and better rendering
  src/lib/data/docs.ts
  src/views/DocsView.svelte
Labels: frontend

feat: phase 4 planning complete with comprehensive contracts
  .internal/phase4/4-research-notes.md
  .internal/phase4/4A-1_PROCESS_LOG_VIEWER.md
  .internal/phase4/4B-1_PROCESS_MANAGEMENT.md
  .internal/phase4/4C-1_SPLIT_TERMINAL_VIEW.md
  .internal/phase4/4D-1_LOG_AGGREGATION.md
  .internal/phase4/README.md
Labels: documentation

.github/labeler.yml:

# Labeler configuration for automatic PR labeling
# Based on files changed in the PR

'rust':
  - changed-files:
    - any-glob-to-any-file: '**/*.rs'
    - any-glob-to-any-file: '**/Cargo.toml'
    - any-glob-to-any-file: '**/Cargo.lock'

'frontend':
  - changed-files:
    - any-glob-to-any-file: 'src/**/*.svelte'
    - any-glob-to-any-file: 'src/**/*.ts'
    - any-glob-to-any-file: 'src/**/*.js'
    - any-glob-to-any-file: '**/*.css'

'cli':
  - changed-files:
    - any-glob-to-any-file: 'cli/**/*'

'documentation':
  - changed-files:
    - any-glob-to-any-file: '**/*.md'
    - any-glob-to-any-file: 'docs/**/*'

'tests':
  - changed-files:
    - any-glob-to-any-file: '**/*test.rs'
    - any-glob-to-any-file: '**/*test.ts'
    - any-glob-to-any-file: 'tests/**/*'
    - any-glob-to-any-file: '**/benches/**/*'

'dependencies':
  - changed-files:
    - any-glob-to-any-file: 'package.json'
    - any-glob-to-any-file: 'package-lock.json'
    - any-glob-to-any-file: 'Cargo.toml'
    - any-glob-to-any-file: 'Cargo.lock'

'ci/cd':
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

'examples':
  - changed-files:
    - any-glob-to-any-file: 'examples/**/*'
